<html>
    <head>
        {% if title %}
        <title>{{ title }} - Intrafind Coding Challenge</title>
        {% else %}
        <title>Intrafind Coding Challenge</title>
        {% endif %}
		<link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='table_style.css') }}">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            Intrafind Coding Challenge:
            <a href="/home">Home</a>
            <a href="/create">Add User</a>
			<a href="/display_records">User Records</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>