{% extends "base.html" %}

{% block content %}
	<div class=container"><br>
    <div class="row align-items-center justify-content-center">
    <div class="col-md-4">
		<h1>Update user {{data[1]}}'s details</h1>
		<form action="" method="post"  role="form" novalidate>
			{{ data[0].hidden_tag() }}
			<div class="form-group">
				<p>
					{{ data[0].first_name.label }}
					{{ data[0].first_name(value = data[1], size=32) }} <br>
					{% for error in data[0].first_name.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
				</p>
				<p>
					{{ data[0].last_name.label }}
					{{ data[0].last_name(value = data[2], size=32) }} <br>
					{% for error in data[0].last_name.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
				</p>
				<p>
					{{ data[0].email.label }}
					{{ data[0].email(value = data[3], size=32) }} <br>
					{% for error in data[0].email.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
				</p>
			</div>
			<p>{{ data[0].submit() }}</p>
		</form>
	</div></div></div>
{% endblock %}